#container-rating{
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 20px;
}
.starOn{
    color: red;
    width: 20px;
}
.starOff{
    color: gray;
    width: 20px;
}

@media (max-width:425px){
    #container-rating{
        gap: 5px;
    }
    .starOn{
        color: red;
        width: 15px;
    }
    .starOff{
        color: gray;
        width: 15px;
    }
}