#container-switch-buttons {
  display: flex;
  justify-content: center;
  position: absolute;
  width: 99.4%;
  margin-top: 50px;

  #switch-buttons {
    display: flex;
    justify-content: space-between;
    height: 600px;
    width: 100%;
    margin: 0px 127px 0px 100px;

    img {
      width: 70px;
    }

    .div-button {
      display: flex;
      align-items: center;
      cursor: pointer;
      z-index: 2;
      margin: 0;
      padding: 0;
    }
  }

  #container-ul-switch {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    position: absolute;
    height: 600px;
    width: 100%;

    ul {
      display: flex;
      color: white;
      list-style-type: none;
      font-size: 30px;
      padding-left: 20px;
      padding-right: 20px;
    }
  }

  @media (max-width: 1120px) {
    #switch-buttons {
      display: flex;
      justify-content: space-between;
      height: 600px;
      width: 870px;
      margin: 0px 35px 0px 0px;
    }
  }

  @media (max-width: 425px) {
    margin: 0;
    width: 87vw;

    #switch-buttons {
      margin: 0px;
      height: 400px;
      width: 96%;

      img {
        width: 30px;
      }
    }

    #container-ul-switch {
      height: 400px;
    }

    .div-button {
      height: 400px;
      padding: 0px 10px 0px 10px;
    }
  }

  @media (max-width: 320px) {
    width: 92%;
  }
}