#container-switch-buttons{
    display: flex;
    justify-content: center;
    position: absolute;
    width: 99.4%;
    margin-top: 50px;
    border: 3px solid black;
}
#switch-buttons{
    display: flex;
    justify-content: space-between;
    height: 600px;
    width: 100%;
    margin: 0px 127px 0px 100px;
}
#switch-buttons img{
    width: 70px;
}
.div-button{
    display: flex;
    align-items: center;
    cursor: pointer;
    height: 600px;
    z-index: 2;
    margin: 0;
    padding: 0;
}
#container-ul-switch{
    display: flex;
    justify-content: center;
    align-items: end;
    position: absolute;
    height: 600px;
    width: 100%;
    border: 3px solid orchid;
}

#container-ul-switch ul{
    display: flex;
    color: white;
    list-style-type: none;
    font-size: 30px;
    padding-left: 20px;
    padding-right: 20px;
}
@media (max-width:1120px){
    #switch-buttons{
        display: flex;
        justify-content: space-between;
        height: 600px;
        width: 870px;
        margin: 0px 35px 0px 0px;
    }
}
@media (max-width:425px){
    #container-switch-buttons{
        margin: 0;
    }
    #switch-buttons{
        margin: 0px;
        height: 400px;
        width: 96%;
    }
    #container-ul-switch{
        height: 400px;
    }
    .div-button{
        height: 400px;
        padding: 0px 10px 0px 10px;
    }
    #switch-buttons img{
        width: 30px;
    }
}