#logo{
max-width: 442px;
width: 70%;
min-width: 131px;
}
@media (max-width:425px){
    #logo{
        width: 100%;
        max-width: none;
        min-width: 200px;
    }
}
@media (max-width:375px){
    #logo{
        min-width: 100px;
    }
}