#container-header{
    display:flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

#container-picture-header{
    display: flex;
}

#container-link-header{
    display: flex;
    gap: 150px;
    align-items: center;
}

#navigation strong{
    font-size: 35px;
    font-weight: 100;
    color: black;
}
#container-link-header p{
    width: 200%;
}
#navigation #link-without-bar_a_propos{
    text-decoration: none;
}
#navigation #link-without-bar_accueil{
    text-decoration: underline;
}

#header div{
    display:flex;
    justify-content: space-between;
    align-items: center;
}

#header strong{
    font-size: 35px;
    font-weight: 100;
    color: black;
}

#header #link-without-bar_a_propos{
    text-decoration: underline;
}
#header #link-without-bar_accueil{
    text-decoration: none;
}

#header-article div{
    display:flex;
    justify-content: space-between;
    align-items: center;
}
#header-article strong{
    font-size: 35px;
    font-weight: 100;
    color: black;
}

#header-article #link-without-bar_a_propos{
    text-decoration: none;
}
#header-article #link-without-bar_accueil{
    text-decoration: none;
}

#header-not_found div{
    display:flex;
    justify-content: space-between;
    align-items: center;
}
#header-not_found strong{
    font-size: 35px;
    font-weight: 100;
    color: black;
}
#header-not_found #link-without-bar_a_propos{
    text-decoration: none;
}
#header-not_found #link-without-bar_accueil{
    text-decoration: none;
}

@media (max-width:425px){
    #logo{
        width: 170px;
    }
    #header-article{
        margin: 0;
    }
    #container-link-header{
        gap: 30px;
    }
    #navigation{
        margin: 0px;
    }
    #navigation strong{
        font-size: 20px;
    }
    #header{
        margin: 0px;
    }
    #header strong{
        font-size: 20px;
    }
    #container-link-header p{
        width: 100%;
    }
    #container-link-header strong{
        font-size: 20px;
    }
    #container-header{
        width: 100%;
        padding: 0px 20px 0px 20px;
    }
    
}
@media (max-width:1152px){
    #logo{
        width: 150px;
    }
    #container-link-header{
        gap: 70px;
    }
    #container-link-header strong{
        font-size: 30px;
    }
}
@media (max-width:768px){
    #logo{
        width: 110px;
    }
    #container-link-header{
        gap: 50px;
    }
    #container-link-header strong{
        font-size: 25px;
    }
}
@media (max-width:768px){
    #container-link-header{
        gap: 20px;
    }
    #container-link-header strong{
        font-size: 20px;
    }
    #logo{
        width: 100px;
    }
}