@import "../../mixin.scss";
#container-header {
  @include flex-center-direction;
    width: 100%;
  }
  
  #container-picture-header {
    display: flex;
  }
  
  #container-link-header {
    display: flex;
    gap: 150px;
    align-items: center;
  }
  
  #navigation {
    strong {
      @include text-police-color;
    }
  
    #link-without-bar_a_propos {
      text-decoration: none;
    }
  
    #link-without-bar_accueil {
      text-decoration: underline;
    }
  }
  
  #header {
    div {
      @include flex-center-direction;
    }
  
    strong {
      @include text-police-color;
    }
  
    #link-without-bar_a_propos {
      text-decoration: underline;
    }
  
    #link-without-bar_accueil {
      text-decoration: none;
    }
  }
  
  #header-article {
    div {
      @include flex-center-direction;
    }
  
    strong {
      @include text-police-color;
    }
  
    #link-without-bar_a_propos {
      text-decoration: none;
    }
  
    #link-without-bar_accueil {
      text-decoration: none;
    }
  }
  
  #header-not_found {
    div {
      @include flex-center-direction;
    }
  
    strong {
      font-size: 35px;
      font-weight: 100;
      color: black;
    }
  
    #link-without-bar_a_propos {
      text-decoration: none;
    }
  
    #link-without-bar_accueil {
      text-decoration: none;
    }
  }
  
  @media (max-width: 425px) {
    #logo {
      width: 170px;
    }
  
    #header-article {
      margin: 0;
    }
  
    #container-link-header {
      gap: 30px;
    }
  
    #navigation {
      margin: 0;
      strong {
        font-size: 20px;
      }
    }
  
    #header {
      margin: 0;
      strong {
        font-size: 20px;
      }
    }
  
    #container-link-header p {
      width: 100%;
    }
  
    #container-link-header strong {
      font-size: 20px;
    }
  
    #container-header {
      width: 100%;
      padding: 0px 20px 0px 20px;
    }
  }
  
  @media (max-width: 1152px) {
    #logo {
      width: 150px;
    }
  
    #container-link-header {
      gap: 70px;
    }
  
    #container-link-header strong {
      font-size: 30px;
    }
  }
  
  @media (max-width: 768px) {
    #container-link-header {
      gap: 20px;
    }
  
    #container-link-header strong {
      font-size: 20px;
    }
  
    #logo {
      width: 100px;
    }
  }
  
  @media (max-width: 425px) {
    #logo {
      width: 145px;
    }
  }
  @media (max-width: 389px) {
    #container-link-header{
    strong {
      font-size: 17px;
       }
    }
  }
  @media (max-width: 374px) {
    #container-link-header{
      gap: 10px;
       strong {
      font-size: 12px;
       }
    }
  }