#navigation{
    display:flex;
    justify-content: space-between;
    align-items: center;
    color: red;
    width:400px;
}
#p-navigation{
    text-decoration: underline
}
.nav-link{
    font-size: 150%;
    font-weight: 100;
}