#container-header{
    display:flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

#container-picture-header{
    display: flex;
    width: 100%;
}

#container-link-header{
    display: flex;
    gap: 150px;
    align-items: center;
}

#navigation strong{
    font-size: 35px;
    font-weight: 100;
    color: black;
}
#container-link-header p{
    width: 130px;
}
#navigation #link-without-bar_a_propos{
    text-decoration: none;
}
#navigation #link-without-bar_accueil{
    text-decoration: underline;
}

#header div{
    display:flex;
    justify-content: space-between;
    align-items: center;
}

#header strong{
    font-size: 35px;
    font-weight: 100;
    color: black;
}

#header #link-without-bar_a_propos{
    text-decoration: underline;
}
#header #link-without-bar_accueil{
    text-decoration: none;
}

#header-article div{
    display:flex;
    justify-content: space-between;
    align-items: center;
}
#header-article strong{
    font-size: 35px;
    font-weight: 100;
    color: black;
}

#header-article #link-without-bar_a_propos{
    text-decoration: none;
}
#header-article #link-without-bar_accueil{
    text-decoration: none;
}

#header-not_found div{
    display:flex;
    justify-content: space-between;
    align-items: center;
}
#header-not_found strong{
    font-size: 35px;
    font-weight: 100;
    color: black;
}
#header-not_found #link-without-bar_a_propos{
    text-decoration: none;
}
#header-not_found #link-without-bar_accueil{
    text-decoration: none;
}

@media (max-width:425px){
    #logo{
        width: 100%;
        max-width: none;
        min-width: 200px;
    }
    #navigation{
        margin: 0;
        width: 70%;
    }
    #navigation div{
        width: 60px;
        font-size: 10px;
    }
    #navigation p{
        width: 100px;
    }
    #header-article{
        margin: 0;
        width: 70%;
    }
    #header-article div{
        width: 60px;
        font-size: 10px;
    }
    #header-article p{
        width: 100px;
    }
    #header{
        margin: 0;
        width: 70%;
    }
    #header div{
        width: 60px;
        font-size: 10px;
    }
    #header p{
        width: 100px;
    }
}
@media (max-width:375px){
    #logo{
        min-width: 100px;
    }
    #navigation{
        width: 60%;
    }
}