#profil{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
}
#profil img{
    border-radius: 190px;
    color: none;
}

#profil p{
    font-size: 20px;
    color: red;
}