#profil {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
  
    img {
      border-radius: 190px;
    }
  
    p {
      font-size: 20px;
      color: #ff6060;
      font-weight: 500;
    }
  }
  
  @media (max-width: 1228px) {
    #container-profil {
      display: flex;
      flex-direction: row-reverse;
      justify-content: space-between;
      width: 98%;
    }
  }
  
  @media (max-width: 425px) {
    #container-profil {
      display: flex;
      flex-direction: row-reverse;
      justify-content: space-between;
      width: 98%;
  
      #profil img {
        width: 80px;
      }
  
      #profil p {
        width: 70px;
        text-align: end;
      }
    }
  }