#container_header{
    display: flex;
    justify-content: space-between;
    max-width: 1240px;
    width: 100%;
    max-height: 68px;
    height: 100%;
    border: 1px solid black;
}

#nav_header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 300px;
    color: rgb(201, 133, 8);
}

#nav_header p{
    font-size: 150%;
    cursor: pointer;
}

#p_accueil{
    text-decoration: underline;
}
