section{
    display: flex;
    justify-content: center;
}

#container_header{
    display: flex;
    justify-content: space-between;
    max-width: 1256px;
    width: 100%;
    max-height: 68px;
    height: 100%;
}

#nav_header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 250px;
    width: 20%;
    color: rgb(201, 133, 8);
}

#nav_header p{
    font-size: 20px;
    cursor: pointer;
}

#p_accueil{
    text-decoration: underline;
}
