#container-section-image{
    margin:30px 100px 0px 100px;
    display:flex;
    justify-content:center;
    align-items:center;
    border-radius: 25px;
    background-color: rgb(117, 117, 117);
    position: relative;
}

#container-section-image h1{
    text-shadow: 5px 5px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    display:flex;
    position:absolute;
    font-size:50px;
    color:white;
    font-weight:300;
    font-family:arial;
}

#container-section-image img{
    z-index: 0;
    height: 250px;
    object-fit: cover;
    width: 100%;
    border-radius:25px;

    width: 100%;
    display: block;
    mix-blend-mode: multiply;
}

#container-section-info{
    margin-bottom: 30px;
}
#container-section-info h1{
    display: none;
}

@media (max-width:425px){
    #container-section-image{
        margin: 5% 5% 5% 5%;
    }
    #container-section-image h1{
        font-size: 35px;
        margin: 0px 0px 0px 20px;
        padding-right: 70px;
    }
    #container-section-image img{
        height: 200px;
    }
}