#root{
    display: flex;
    flex-direction: column;
}
.container-article{
    margin-top: 50px;
    margin-bottom: 50px;
    padding: 40px;
    border-radius: 35px;
    display: grid;
    grid-template-columns:  repeat(3, 1fr);
    background-color: rgb(206, 206, 206);
    gap: 40px;
}