header{
    display: flex;
    justify-content: space-between;
    margin: 30px 100px 0px 100px;
}

@media (max-width:425px){
    #root{
        padding: 0px;
    }
    header{
        padding: 0px 0px 0px 0px;
    };
    .container-article{
        margin: 0px 0px 0px 0px;
    };
}